.header {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex: 1;
}

.header * {
  min-width: 0px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  border: 8px solid papayawhip;
  order: 2;
  margin-left: auto;
  margin-right: auto;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  margin: auto;
  column-gap: 1.5em;
  padding-inline: 1.5em;
}

a {
  font-size: 22px;
  background: white;
  color:blue;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

.left-links {
  justify-content: flex-start;
  order: 1;
}

.right-links {
  justify-content: flex-end;
  order: 3;
}

.left-links, .right-links {
  flex-shrink: 2;
}